* {
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
}

.box1{
    background-color: rgb(66, 143, 91);
    width: 25vw;
    height: 70vh;
}

.box2{
    background-color: rgb(103, 194, 55);
    width: 50vw;
    height: 70vh;
}
.box3{
    background-color: rgb(240, 218, 25);
    width: 25vw;
    height: 70vh;
}

.header-box, .footer-box{
    background-color: #8a8383;
    width: 100vw;
    height: 13vh;
}


.bottom{
    display: flex;
    margin: 2vh 0vw 2vh 0vw;
}


/* smartphones, Android phones, landscape iPhone */ 
@media only screen and (max-width:480px) {

    .bottom{
        display: flex;
        flex-direction: column;
    }
    #box1, #box3{
        width: 100vw;
        height: 15vh;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media only screen and (max-width:801px){
    .bottom{
        display: flex;
        margin: 0vw 0vw 2vh 0vw;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .top{
        background-color: rgb(103, 194, 55);
        width: 100vw;
        height: 40vh;
        margin-top: 2vw;
    }
    .box1, .box3{
        width: 50vw;
        height: 30vh;
    }
    .box2{
        display: none;
    }
    
}

